body {
  background-color:rgb(55,55,55);
  margin:0;
}
h1 {
  color:rgb(226,226,226);
  margin-left:20px;
}
ul.topnav {
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:#000000;
  /* position:fixed;
  top:0;
  width:100%;
  */
}
ul.topnav li {
  float:left;
}
ul.topnav li.credits {
  color:white;
  text-align:center;
  font-family:Arial,Helvetica,sans-serif;
  padding:14px 16px;
}
ul.topnav li a {
  display:block;
  color:white;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  font-family:Arial,Helvetica,sans-serif;
}
ul.topnav li a:hover:not(.active) {
  background-color:#8f805a;
}
ul.topnav li a.active {
  background-color:#a89135;
}
ul.topnav li.right {
  float:right;
}
@media screen and (max-width:600px) {
  ul.topnav li.right,ul.topnav li {
  float:none;
}
}
.dropbtn {
  display:inline-block;
  color:white;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
}
.dropdown {
  display:inline-block;
}
.dropdown-content {
  display:none;
  position:absolute;
  background-color:#f9f9f9;
  min-width:160px;
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}
.dropdown-content a {
  color:black;
  padding:12px 16px;
  text-decoration:none;
  display:block;
  text-align:left;
}
.dropdown-content a:hover {
  background-color:#f1f1f1;
}
.dropdown:hover .dropdown-content {
  display:block;
}
.groupname {
  color:#f1f1f1;
  padding:14px 16px;
  font-size: 20px;
}
.column {
  float:left;
  width:50%;
}
/* Clear floats after the columns */
.row::after {
  content: "";
  display: flex;
  flex-direction: row;
  clear: both;
}
.tab {
  border: 5px #a89135 solid;
  background-color:#b6b6b6;
  font-size: 26px;
  text-align:center;
}
.tab:hover {
  background-color: #f1f1f1;
}
#selected-tab {
  background-color: #a89135;
  color: black;
}
.box{
  background-color: #a89135;
  height: 500px;
  width: 100vw;
  overflow-y: scroll; 
}
.specific-sport {
  color: black;
  padding:19px 22px;
  font-size: 20px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #a89135;
}
.sport-dropbtn {
  display:inline-block;
  color:white;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
}
.sport-dropdown {
  display:inline-block;
}
.sport-dropdown-content {
  display:none;
  position:absolute;
  background-color:#f9f9f9;
  min-width:160px;
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}
.sport-dropdown-content a {
  color:black;
  padding:12px 16px;
  text-decoration:none;
  display:block;
  text-align:left;
}
.sport-dropdown-content a:hover {
  background-color:#f1f1f1;
}
.sport-dropdown:hover .sport-dropdown-content {
  display:block;
}
.item {
  background-color: beige;
  height: 130px;
  padding: 5px 5px;
  margin: 10px;
  width: 94vw;
  overflow-y: scroll; 
  border-radius: 5px;
}
.sport-selector {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.bet-name {
  font-size: 21px;
  margin: 1px;
  border-bottom: black 2px solid;
}
.bet-option {
  font-size: 30px;
  margin: 1px;
  border-bottom: black 1px solid;
}
.bet-option:hover {
  background-color: rgb(255, 255, 255);
}
.enter-bet {
  margin-left: 10vw;
  height: 18px;
  width: 100px;
}
.wager-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 12px;
}
.title {
  text-align: center;
  color: #ffffff;
}
.enter-title {
  height: 29px;
  width: 165px;
  font-size: 21px;
  margin: 3px;
  border-bottom: black 2px solid;
}
.enter-bet-option {
  height: 29px;
  width: 271px;
  font-size: 30px;
  margin: 3px;
  border-bottom: black 1px solid;
}
.create-item {
  background-color: beige;
  height: 250px;
  padding: 5px 5px;
  margin: 10px;
  width: 94vw;
  overflow-y: scroll; 
  border-radius: 5px;
}
.time-limit-options {
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}
.profile-item {
  background-color: beige;
  height: 200px;
  padding: 5px 5px;
  margin: 10px;
  width: 94vw;
  overflow-y: scroll; 
  border-radius: 5px;
}



/* Style for the "Sign In" button */
#sign-btn {
  background-color: #333;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#sign-btn:hover {
  background-color: #222;
}

input[type="text"],
input[type="password"] {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #222;
}

/* #plus {
  font-size: 26px;
  text-align: right;
  margin: 11px -30px;
}
#plus:hover {
  background-color: #8f805a;
} */